<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>editproduct</title>

</head>
{% for x in data %}
<body>
    <h1>EDIT PRODUCT</h1>
    <form method="post" action="">
        {% csrf_token %}
        <table>
            <tr>
                <td>product Name:</td>
                <td><input type="text" name="pname" value="{{x.name}}" placeholder="Enter product name"></td>
                </tr>

               <tr>
                <td>product price:</td>
                <td><input type="number" name="price" value="{{x.price}}" placeholder="enter product price"></td>
               </tr>                

               <tr>
                <td>
                    <input type="submit" value="update">
                </td>
               </tr>

            </tr>
        </table>
        
    
</body>
{% endfor %}
</html>