{% load static %}
<div class="row mt-5">
    <div class="col-md-4">
    <h6><i class="bi bi-building"></i></h2>
    <hr>
    <p>
        Ekart solutions pvt LTD<br>
        7th floor,Ishan arcade 2<br>
        near gaondevi mandir<br>
        thane west
    </p>
    <p>
        <i class="bi bi-telephone-fill"></i>-9167099271
    </p>
    <p>
        <i class="bi bi-envelope"></i>-tejaskdm2001@gmail.com
    </p>
</div>
<div class="col-md-4">
    <h6>Quick links</h6>
    <hr>
    <p><a href="index.html" class='anchorclass'><strong>home</strong></a></p>
    <p><a href="about.html" class="anchorclass"><strong>about us</strong></a></p>
    <p><a href="contact.html" class="anchorclass"><strong>contact</strong></a></p>
    <p><a href="cart.html" class="anchorclass"><strong>cart</strong></a></p>
</div>

<div class="col-md-4">
    <h6>connect us</h6>
    <hr>
    <h4><a href="http://www.facebook.com" target="_blank"><i class="bi bi-facebook text-danger"></i></a></h4>
    <h4><a href="http://www.instagram.com" target="_blank"><i class="bi bi-instagram text-danger"></i></a></h4>
    <h4><a href="http://www.twitter.com" target="_blank"><i class="bi bi-twitter text-danger"></i></a></h4>
    <h4><a href="http://www.linkedin.com" target="_blank"><i class="bi bi-linkedin text-primary"></i></a></h4>

</div>

</div>
<script src="{% static 'js/popper.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>

</body>

</html>